node_modules
dist
coverage
.pnpm-store
playwright-report
test-results
pnpm-lock.yaml
src/ui/*_svgs.ts
src/sprites
documentation/*.txt
.android-tools
**/build
**/.gradle
**/.cxx
**/generated
src/assets/*_svgs.ts
apps/mobile/android
