.ability {
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-size: contain;
    position: relative;
    user-select: none;
}

.shoot-1,
.shoot-2,
.shoot-3,
.shoot-4,
.shoot-5,
.shoot-6,
.shoot-7,
.shoot-8,
.shoot-9,
.shoot-0,
.shoot-dash {
    background-image: url('../../resources/images/shoot.jpg');
}

.hotkey {
    color: white;
    position: absolute;
    top: -5px;
    left: 0;
    font-weight: bold;
    font-size: 20px;
}
